@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family:'Montserrat', sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image: url("globe.png");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.form{
    position: absolute;
    margin: auto;
    top: 40%;
    width: 270px;
    box-shadow: 0px 2px 5px 2px rgb(189, 188, 188);
    border-radius: 5%;
    height: 230px;
    background-color: white;
}
.form2{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    margin: auto;
    position: absolute;
    top: 25%;
    width: auto;
    box-shadow: 0px 2px 5px 2px rgb(189, 188, 188);
    border-radius: 5%;
    height: auto;
    padding: 10px;
    background-color: white;
}
form input{
    padding: 12px 20px;
    width: 80%;
    margin-bottom: 10px;
}
form .name{
    margin-top: 20px;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* left: 35px; */
    margin-top: 40px;
    flex-direction: column;
    /* padding: 12px 20px; */
    /* justify-content: space-around; */
}
.inputs input{
    padding: 12px 20px;
    margin: 10px;
}
.user{
    position: relative;
}
.inputs #user{
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: #3c185b;
    padding: 14px 10px;
    color: white;
}
.inputs #lock{
    position: absolute;
    top: 114px;
    left: 10px;
    background-color: #3c185b;
    padding: 14px 10px;
    color: white;
}
.inputs button{
    width: 100px;
    margin: auto;
    text-align: center;
    background-color: #3c185b;
    color: white;
    border: none;
    padding: 12px;
}
form button{
    display: flex;
    width: 100px;
    margin: auto;
    text-align: center;
    background-color: #3c185b;
    color: white;
    border: none;
    padding: 12px 12px 12px 23px;
}
.loginhead{
    position: absolute;
    display: flex;
    top: 0px;
    margin-bottom: 50px;
    width: 99.9%;
    height: 50px;
    background-color: #3c185b;
    color: white;
    justify-content: center;
    /* text-align: center; */
}
.loginhead h5{
    margin: auto;
    text-align: center;
}
.loginhead img{
    position: absolute;
    left: 10px;
    top: 15px;
}